---
layout: default
---
<div class="w3-row-padding darkcolor w3-padding-32 w3-container">
    <div class="w3-content blogpost">
        <div class="w3-center">
            <article>
                <h1>{{ page.title }}</h1>
                <div class="posttime">
                    Posted <time datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date_to_long_string: "ordinal", "US" }}</time><br>
                    &nbsp;
                </div>
                {% if page.image %}
                    <a href="{{"/assets/img/blog/" | prepend: site.baseurl | append : page.image}}"><img class="w3-image" src="{{"/assets/img/blog/" | prepend: site.baseurl | append : page.image}}"></a>
                {% endif %}
            </div>
            {{ content | markdownify }}
        </article>
    </div>
</div>
